src/main/resources/users.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="users">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="user" type="UserType" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="UserType">
    <xs:sequence>
      <xs:element name="id" type="xs:string">
        <xs:annotation>
          <xs:documentation>Unique user identifier (e.g., U001)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>User's first name (required)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="surname" type="xs:string">
        <xs:annotation>
          <xs:documentation>User's last name (required)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="cookingSkillLevel" type="DifficultyLevelString">
        <xs:annotation>
          <xs:documentation>User's cooking skill level (Beginner, Intermediate, Advanced)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="preferredCuisineType" type="CuisineTypeString">
        <xs:annotation>
          <xs:documentation>User's preferred cuisine type</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="CuisineTypeString">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Italian"/>
      <xs:enumeration value="Spanish"/>
      <xs:enumeration value="Japanese"/>
      <xs:enumeration value="Mexican"/>
      <xs:enumeration value="Indian"/>
      <xs:enumeration value="Greek"/>
      <xs:enumeration value="Thai"/>
      <xs:enumeration value="French"/>
      <xs:enumeration value="Chinese"/>
      <xs:enumeration value="Korean"/>
      <xs:enumeration value="Vietnamese"/>
      <xs:enumeration value="Turkish"/>
      <xs:enumeration value="Brazilian"/>
      <xs:enumeration value="Lebanese"/>
      <xs:enumeration value="German"/>
      <xs:enumeration value="Moroccan"/>
      <xs:enumeration value="Peruvian"/>
      <xs:enumeration value="American"/>
      <xs:enumeration value="Asian"/>
      <xs:enumeration value="Mediterranean"/>
      <xs:enumeration value="European"/>
      <xs:enumeration value="Latin American"/>
      <xs:enumeration value="Street Food"/>
      <xs:enumeration value="Vegetarian"/>
      <xs:enumeration value="Tapas"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="DifficultyLevelString">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Beginner"/>
      <xs:enumeration value="Intermediate"/>
      <xs:enumeration value="Advanced"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>

